GUILD_ID=GUILD_ID
BOT_TOKEN="BOT_TOKEN"
SKULLBOARD_CHANNEL_ID=SKULLBOARD_CHANNEL_ID
REQUIRED_REACTIONS=5
TENOR_API_KEY="TENOR_API_KEY"
GEMINI_API_KEY="GEMINI_API_KEY"
REQUESTS_PER_MINUTE=3
LIMIT_WINDOW=60
LOG_CHANNEL_ID=LOG_CHANNEL_ID
ADMIN_USERS=User1,User2,User3
CMS_URL="https://cms.csclub.org.au"
