services:
  duckbot:
    image: duckbot:latest
    container_name: duckbot
    env_file:
      - .env.local
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - csclub

networks:
  csclub:
    external: true
